{{define "header"}}
<header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
  <a href="/admin/dashboard" class="d-flex align-items-center mb-3 mb-md-0 text-decoration-none">
    <span class="fs-4">Odin API Gateway Admin</span>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="/admin/dashboard" class="nav-link">Dashboard</a>
    </li>
    <li class="nav-item">
      <a href="/admin/monitoring" class="nav-link">Monitoring</a>
    </li>
    <li class="nav-item">
      <a href="/admin/traces" class="nav-link">Traces</a>
    </li>
    <li class="nav-item">
      <a href="/admin/plugins" class="nav-link">Plugins</a>
    </li>
    <li class="nav-item">
      <a href="/admin/integrations/postman" class="nav-link">Integrations</a>
    </li>
    <li class="nav-item">
      <a href="/admin/settings" class="nav-link">Settings</a>
    </li>
    <li class="nav-item">
      <a href="/admin/middleware-chain" class="nav-link">Middleware</a>
    </li>
    <li class="nav-item">
      <a href="/admin/services/new" class="nav-link">Add Service</a>
    </li>
    <li class="nav-item">
      <a href="/admin/login" class="nav-link">Logout</a>
    </li>
  </ul>
</header>
{{end}}
